@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Farro';
  font-weight: 300;
  src: url('/fonts/farro-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Farro';
  font-weight: 400;
  src: url('/fonts/farro-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Farro';
  font-weight: 500;
  src: url('/fonts/farro-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Farro';
  font-weight: 700;
  src: url('/fonts/farro-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('/fonts/poppins-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('/fonts/poppins-bold.woff2') format('woff2');
}

:root {
  --font-farro: 'Farro', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: var(--font-poppins);
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
}

@layer base {
  :root {
    --primary: #253b2f;
    --primary-foreground: #253b2f;
    --primary-rhapsody: #d67d29;
    --primary-foreground-rhapsody: #ffebd9;
    --secondary-rhapsody: #055259;
    --secondary-foreground-rhapsody: #037073;
    --secondary: #d2e0d9;
    --secondary-foreground: #d2e0d9;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --background: #f9fffc;
    --muted: #32393e;
    --rgba-color: rgba(255, 255, 255, 0.2);
    --primary-rgba: rgb(108, 117, 125, 0.2);
    --secondary-rgba: rgb(210, 224, 217, 0.5);
    --overlay: rgba(0, 0, 0, 0.4);
    --border: rgba(37, 59, 47, 0.2);
    --radius: 8px;
  }

  .dark {
    --background: #06060e;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: #253b2f;
    --primary-foreground: #fff;
    --secondary: #d2e0d9;
    --secondary-foreground: #d2e0d9;
    --muted: #32393e;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --rgba-color: rgba(255, 255, 255, 0.2);
    --primary-rgba: rgb(108, 117, 125, 0.2);
    --secondary-rgba: rgb(210, 224, 217, 0.5);
    --overlay: rgba(0, 0, 0, 0.4);
    --border: rgba(37, 59, 47, 0.2);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .stroke-dasharray-1000 {
    stroke-dasharray: 1000;
  }

  .stroke-dashoffset-1000 {
    stroke-dashoffset: 1000;
  }

  .webkit-text-stroke-width-1 {
    -webkit-text-stroke-width: 1px;
  }

  .webkit-text-stroke-width-2 {
    -webkit-text-stroke-width: 2px;
  }

  .webkit-text-stroke-white {
    -webkit-text-stroke-color: #fff;
  }

  .webkit-text-stroke-primary {
    -webkit-text-stroke-color: var(--primary);
  }

  .webkit-text-stroke-secondary {
    -webkit-text-stroke-color: var(--secondary);
  }

  .hover-underline span {
    background-repeat: no-repeat;
    background-image: linear-gradient(
      180deg,
      transparent 96%,
      var(--secondary-rhapsody) 0
    );
    background-size: 0 100%;
    transition: background-size 0.4s ease-out;
  }

  .hover-underline:hover span {
    background-size: 100% 100%;
  }
}

/* ---------- style for team card one */
@media (min-width: 1024px) {
  .team-card:nth-child(3n) {
    margin-top: 12px;
  }

  .team-card:nth-child(3n + 1) {
    margin-top: -120px;
  }

  .team-card:nth-child(3n + 2) {
    margin-top: -210px;
  }
}

/* ---------- style for team card one */

/* ---------- style for counter */
.index-module_slot__DpPgW {
  margin-left: -2px;
  margin-bottom: -9px;
}

/* ---------- style for counter */

/* --------- overright swiper slider custom css  */
.banner-two .swiper-pagination-bullet-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
  height: auto;
  position: relative;
}

.banner-one .swiper-pagination-bullet-active .title {
  display: block;
}

.banner-one .swiper-pagination-bullet-active .active-blut {
  color: var(--primary);
}

.project-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
  height: auto;
}

.swiper-pagination-progressbar-fill {
  position: absolute;
  width: 70%;
  height: 5px;
  background: var(--primary);
  left: 0px;
  bottom: 8px;
  transform-origin: left center;
}

.blog-single .project-slider-one .swiper-slide {
  width: auto !important;
}

/* --------- overright swiper slider custom css  */

/* --------- hero animation */
.animate-fill,
.animate-fill::after {
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-fill {
  position: relative;
  animation-name: clip-text;
  white-space: nowrap;
  cursor: default;
}

.animate-fill::after {
  content: '';
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: text-revealer;
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

/* --------- hero animation */

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 340px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  /* ---------- style for counter */
  .index-module_slot__DpPgW {
    margin-left: -6px;
    margin-bottom: -9px;
  }

  /* ---------- style for counter */
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }

  /* ------------ swiper js progress bar */
  .swiper-pagination-progressbar-fill {
    width: 90%;
  }
  .blog-single .project-slider-one .swiper-wrapper {
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Custom font utilities */
.font-farro {
  font-family: var(--font-farro);
}

.font-poppins {
  font-family: var(--font-poppins);
}
